link(rel="icon" type="image/png" href="/static/favicon_16.png" sizes="16x16")
link(rel="icon" type="image/png" href="/static/favicon_32.png" sizes="32x32")
link(rel="icon" type="image/png" href="/static/favicon_64.png" sizes="64x64")
link(rel="icon" type="image/png" href="/static/favicon_256.png" sizes="256x256")
