include mixins/category.pug

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include includes/favicon.pug
    title C2特設ページ
  body
    include includes/header.pug
    main
      p
        | Creators' Conferenceは、複数の創作系サークルが合同で行うサークル説明会です。
        | サウンド系・グラフィック系は 4/9(日) 16:00 ～、プログラミング系・ロボット系は 4/10(月) 20:00 ～ YouTubeにて開催を予定しています。
        | 本サイトでは、各サークルの活動団体別の発表で使用するスライドなどを掲載します。
      .youtube-wrap
        .youtube
          <iframe width="560" height="315" src="https://youtube.com/embed/9pHivqo2ZA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .youtube-link
          a(href="https://youtube.com/live/9pHivqo2ZA8?feature=share" target="_blank")
            button YouTubeで開く 1日目
      .youtube-wrap
        .youtube
          <iframe width="560" height="315" src="https://youtube.com/embed/2vlVBN5eRls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        .youtube-link
          a(href="https://youtube.com/live/2vlVBN5eRls?feature=share" target="_blank")
            button YouTubeで開く 2日目
      a.img-link
        img.timetable(src="./images/timetable.jpg")
      p 
        | 各団体の情報は昨年度のものの場合があります。提出があり次第更新します。
        | 変更を表示に反映するために、Cookieの削除が必要な場合があります。
      #categories(updateAt = updateAt)
        each category in categories
          +category(category)
      p
        | 今年の Creators' Conference のハッシュタグは、 #C2_2023 です。
        <a href="https://twitter.com/intent/tweet?button_hashtag=C2_2023&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-url="https://c2-2023.trap.jp" data-lang="ja" data-show-count="false">Tweet #C2_2023</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    include includes/footer.pug
